.attendancePage {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 300px);
}
.attendancePage__subject-name {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.attendancePage__teacher {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.attendancePage__table {
}