@import "./reset.css";
@import "./palette.css";
@import "./fonts.css";
html {
    font-size: 8px; /* Устанавливаем 1rem = 8px */
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 500;
    background-color: white;
}
