@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf')
}

body {
    font-family: Montserrat;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 500;

    width: 412px;
}


.nav-container {
    display: flex;
    padding: 30px;
}

.nav-content {
    width: 352px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    border-radius: 20px;
    background-color: black;
    z-index: 3;
}

.nav-content > a {
    width: 100%;
    height: 100%;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-content__something {
    background-image: url('../images/Navigation/что-то.png')
}
.nav-content__schedule {
    background-image: url('../images/Navigation/расписание.png')
}

.nav-content__attendance {
    background-image: url('../images/Navigation/посещаемость.png')
}

.nav-content__account {
    background-image: url('../images/Navigation/аккаунт.png')
}

.schedule-header {
    font-size: 24px;
}

.week-select-container {
    padding: 13px 0 6px 0;
}

.select-list {
    font-size: 16px;
    width: 100%;
    height: 46px;
    background-color: #F6F6F6;
}

.select-list__item {
    font-size: 16px;
}

.schedule-day-container {

}

.day-container {

}

.day-container__day-name {
    font-size: 12px;
    margin: 0px 0px 7px 31px;
    color: #919191;
}

.lesson-container {
    padding: 12px 16px 9px 13px;
    display: flex;
    background-color: #F6F6F6;
    background-image: url('../images/Schedule/Line.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.name-and-teacher-container {
    padding-left: 31px;
    justify-self: left;
    display: flex;
    justify-content: space-between;
}

.lesson-time-start {
    font-size: 12px;
    width: 36px;
}

.lesson-name {
    font-size: 13px;
}

.lesson-teacher {
    color: #919191;
    font-size: 12px;
    width: 100px;
}

.lesson-time-end {
    color: #919191;
    font-size: 12px;
    width: 36px;
}

.lesson-room-and-type {
    padding-left: 31px;
    color: #919191;
    font-size: 12px;
}

.time-container {
    width: 36px;
}

.lesson-info-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.lesson-info-row {
    display: flex;
    justify-content: space-between;
    padding-left: 31px;
}

.day-container .lesson-container:last-child{
    background-image: none;
}